node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.bun
bun.lockb
.git
.gitignore
.env
.env.*
Dockerfile
.dockerignore
coverage
.vscode
.idea
*.log
*.pid
*.sock
.cache
.npm
.next
dist
generated
prisma/migrations
README.md
